<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
  <div id="content">
    <div id="title_view">
      <h1>Fresh</h1>
      <h1>&emsp;Focus</h1>
    </div>

    <div class="main_view" id="break_view">
      <h3>Break Time</h3>
      <h3>Remaining</h3>
      <div class="counter">
        <p><span id="mins">5</span> : <span id="secs">00</span></p>
      </div>

      <hr>

      <h3># of Sessions</h3>
      <h3>Remaining</h3>
      <div class="counter">
        <p id="numSessions"></p>
      </div>

      <button class="btn-default" type="button" id="start">Start</button>
      <button class="btn-quit" type="button" id="quit">Quit</button>
    </div>
  </div>

  <script src="../break.js" type="module"></script>
</body>
</html>
