<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
  <div id="content">
    <div id="title_view">
      <h1>Fresh</h1>
      <h1>&emsp;Focus</h1>
    </div>

    <div class="main_view">
      <h3>Session Time</h3>
      <h3>Remaining</h3>
      <div class="counter">
        <p><span id="mins"></span> : <span id="secs"></p>
      </div>
      <button type="button" class="btn-default" id="abandon">Abandon</button>
    </div>

  </div>

  <script src="../session.js" type="module"></script>
</body>
</html>
