:root {
  --main-bg-color: #A43820;
  --main-btn-color: #BA5536;
  --main-dark-color: #3C2117;
  --main-lite-color: #D4C4B4;
  --main-shadow-color: rgba(60,33,23,0.45);
}

body {
  background-color: var(--main-bg-color);

  border-style: solid;
  border-width: 5px;
  border-color: var(--main-dark-color);

  margin: 0;

  min-width:320px;

  font-family: 'Rubik Mono One', sans-serif;
  font-size: 24px;
  color: var(--main-dark-color);
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  border: 3px solid var(--main-lite-color);
  background-color: var(--main-dark-color);
  color: var(--main-lite-color);
  font-size: 18px;
}

#content {
  margin: 20px;
}

h1 {
  font-size: 36px;
  margin: 0px;
}

#session_view {
  margin: 0px;
}

h3 {
  font-size: 24px;
  text-align: center;
}

.btn-default {
  background-color: var(--main-btn-color);
  color: var(--main-dark-color);
  border: none;
  margin: 4px;
  box-shadow: 0px 2px 3px 1px var(--main-shadow-color);
  font-size: 36px;
  font-family: 'Rubik Mono One', sans-serif;
  width: 100%;
}

.btn-secondary {
  background-color: var(--main-dark-color);
  color: var(--main-lite-color);
  grid-column-start: 2;
  grid-column-end: 3;
  border: none;
  margin: 4px;
  box-shadow: 0px 2px 3px 1px var(--main-shadow-color);
  font-size: 24px;
  font-family: 'Rubik Mono One', sans-serif;
}

.btn-quit {
  text-decoration: underline;
  background-color: var(--main-bg-color);
  border: none;
  color: var(--main-dark-color);
  font-size: 21px;
  font-family: 'Rubik Mono One', sans-serif;
}

.main_view {
  text-align: center;
}

hr {
  border: 1px solid var(--main-dark-color);
}

.config-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin:0px;
}

.config-counter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  font-size: 36px;
  text-align: center;
  background-color: var(--main-lite-color);
  border-radius: 32px;
  height: 80%;
  margin: 0px;
  font-family: 'Rubik', sans-serif;
}

.container-config {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 40px 40px;
  width: 280px;
  height: 120px;
}


.counter {
  font-size: 36px;
  text-align: center;
  background-color: var(--main-lite-color);
  border-radius: 32px;
  height: 64px;
  margin: 0px;
  font-family: 'Rubik', sans-serif;
}
