:root {
  --main-bg-color: #A43820;
  --main-btn-color: #BA5536;
  --main-dark-color: #3C2117;
  --main-lite-color: #D4C4B4;
  --main-shadow-color: rgba(60,33,23,0.45);
}

body {
  background-color: var(--main-bg-color);

  border-style: solid;
  border-width: 5px;
  border-color: var(--main-dark-color);

  margin: 0;

  min-width:320px;

  font-family: 'Rubik Mono One', sans-serif;
  font-size: 24px;
  color: var(--main-dark-color);
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

lh {
  font-size: 21px;
}

li {
  list-style-type: none;
  border: 4px solid var(--main-lite-color);
  background-color: var(--main-dark-color);
  color: var(--main-lite-color);
  font-size: 18px;
  margin-bottom: -4px;
  padding: 0;
}

h1 {
  font-size: 36px;
  margin: -10px auto 0px auto;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin: 0px auto;
}

hr {
  margin: 4px auto 12px auto;
  border: 1px solid var(--main-dark-color);
}

.btn-default {
  background-color: var(--main-btn-color);
  color: var(--main-dark-color);
  border: none;
  margin: 4px auto 4px auto;
  box-shadow: 0px 2px 3px 1px var(--main-shadow-color);
  font-size: 36px;
  font-family: 'Rubik Mono One', sans-serif;
  width: 90%;
}

.btn-secondary {
  background-color: var(--main-dark-color);
  color: var(--main-lite-color);
  grid-column-start: 2;
  grid-column-end: 3;
  border: none;
  margin: 4px 12px 4px 18px;
  box-shadow: 0px 2px 3px 1px var(--main-shadow-color);
  font-size: 24px;
  font-family: 'Rubik Mono One', sans-serif;
}

.btn-list {
  background-color: var(--main-dark-color);
  color: var(--main-lite-color);
  border: none;
  font-family: 'Rubik Mono One', sans-serif;
}

.btn-quit {
  text-decoration: underline;
  background-color: var(--main-bg-color);
  border: none;
  color: var(--main-dark-color);
  font-size: 12px;
  font-family: 'Rubik Mono One', sans-serif;
}

.main_view {
  text-align: center;
  margin-top: 8px;
}

.config-header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.config-counter {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: var(--main-lite-color);
  border-radius: 32px;
  height: 80%;
  margin: 8px 0px auto 12px;;
}

.config-counter p {
  margin: 0px;
  padding: 9px 0;
  height: 100%;
  font-size: 36px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.container-config {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 30px 40px 40px;
  width: 100%;
  height: 120px;
  margin: 0px;
}


.counter {
  background-color: var(--main-lite-color);
  border-radius: 32px;
  height: 80%;
  width: 70%;
  margin: 8px auto 12px auto;
}

.counter p {
  margin: 0px;
  padding: 9px 0;
  height: 100%;
  font-size: 36px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

#newURL {
  list-style-type: none;
  margin-bottom: -4px;
  padding: 0;
  text-align: center;
  border: 4px solid var(--main-lite-color);
  background-color: var(--main-dark-color);
  color: var(--main-btn-color);
  font-size: 18px;
  font-family: 'Rubik Mono One', sans-serif;
}

button {
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}

button:hover {
	-webkit-transform: matrix(1.03, 0, 0, 1.03, 1, -1);
	transform: matrix(1.03, 0, 0, 1.03, 1, -1);
}

button:active {
	-webkit-transform: matrix(0.97, 0, 0, 0.97, -1, 1);
	transform: matrix(0.97, 0, 0, 0.97, -1, 1);
}

#newURL:focus, #newURL:hover {
  outline: none;
  filter: brightness(120%);
}

#newURL::placeholder {
  color: var(--main-btn-color);
  opacity: 0.65;
}

#content {
  margin: 20px 20px;
}
